<div class="cv-main" style="display: flex;  justify-content: space-between;" xmlns="http://www.w3.org/1999/html">
  <div class="cv-sidebar" style="margin: 2rem;">
    <button (click)="onToggleLetters($event)"
            style="font-size: 1.2rem;  margin-bottom: 1rem;">
      Go
    </button>

    <div class="cv-letter-full cv-letter-full-A"> A</div>
    <div class="cv-letter-full cv-letter-full-E"> E</div>
    <div class="cv-letter-full cv-letter-full-I"> I</div>
    <div class="cv-letter-full cv-letter-full-O"> O</div>
    <div class="cv-letter-full cv-letter-full-U"> U</div>
    <div class="cv-letter-full cv-letter-full-Y"> Y</div>
  </div>

  <div class="cv-content" style="display: flex; flex-direction: column;  min-width: 90%;">

    <div [attr.hidden]="boxToggle? null : true">
      <div style="display: flex; flex-direction: row; margin-top: 2rem; flex-wrap: wrap">
        <div *ngFor="let ch of sentenceLetters"
             [class.cv-letter-space]="isSpace(ch)">
          <input type="text" #textBox
                 maxlength="1" style="width: 2rem; height: 2rem;"

                 (keyup)="onTypeLetter($event, textBox, ch)"
                 [attr.value]="!isVoyelle(ch) ? ch : ''"
                 [attr.disabled]="!isVoyelle(ch) ? true : null"
                 [attr.hidden]="isSpace(ch) ? true : null"

                 [class.cv-letter-full]="isVoyelle(ch)"
                 [class.cv-letter-fill]="!isVoyelle(ch)"
                 [class.cv-letter-space]="isSpace(ch)"

                 [class.cv-letter-empty-A]="ch.toUpperCase() === 'A'"
                 [class.cv-letter-empty-E]="ch.toUpperCase() === 'E'"
                 [class.cv-letter-empty-I]="ch.toUpperCase() === 'I'"
                 [class.cv-letter-empty-O]="ch.toUpperCase() === 'O'"
                 [class.cv-letter-empty-U]="ch.toUpperCase() === 'U'"
                 [class.cv-letter-empty-Y]="ch.toUpperCase() === 'Y'"
          >
        </div>
      </div>
    </div>

    <div [attr.hidden]="boxToggle? true : null" style="margin-top: 2rem;">
      <textarea #txtDS
                rows="20" cols="50">EDUARD FACE LEGO
      </textarea>
    </div>

  </div>

</div>
